{
  "api":{
      "server": "http://monitis.com",
      "version": "2"
  },
  "user_account":{
  	"apiKey": "--------------------------",
	  "secretKey": "--------------------------"
  },  
  "monitor":{
  		"app_command": "TestServer",
  		"host": "127.0.0.1",
  		"port": 9990,
  		"username": "jbadmin",
  		"password": "t00r",
		"name": "JBoss7Server_127.0.0.1",
		"tag": "JBoss7_DataSource",
		"type": "Java",
		"testDuration": "10",
		"processingTime": "1",
		"params_separator": ":",
		"result_params": { 
				"mgmtObject" : "/management/subsystem/datasources/data-source/AsteriskDS/statistics/pool?include-runtime=true", 
				"attributes" : [
									{ "attributeName" : "ActiveCount", 			"format" : "ActiveCount:Active Count::2" }, 
    								{ "attributeName" : "AvailableCount", 		"format" : "AvailableCount:Available Count::2"}, 
									{ "attributeName" : "AverageBlockingTime", 	"format" : "AverageBlockingTime:Average Blocking Time:sec:2"},
									{ "attributeName" : "AverageCreationTime", 	"format" : "AverageCreationTime:Average Creation Time:sec:2"},
									{ "attributeName" : "CreatedCount", 		"format" : "CreatedCount:Created Count::2"},
									{ "attributeName" : "DestroyedCount", 		"format" : "DestroyedCount:Destroyed Count::2"},
									{ "attributeName" : "MaxCreationTime", 		"format" : "MaxCreationTime:Max Creation Time:sec:2"},
									{ "attributeName" : "MaxUsedCount", 		"format" : "MaxUsedCount:Max Used Count::2"},
									{ "attributeName" : "MaxWaitTime", 			"format" : "MaxWaitTime:Max Wait Time:sec:2"},
									{ "attributeName" : "TimedOut", 			"format" : "TimedOut:Timed Out::2"},
									{ "attributeName" : "TotalBlockingTime", 	"format" : "TotalBlockingTime:Total Blocking Time:sec:2"},
									{ "attributeName" : "TotalCreationTime", 	"format" : "TotalCreationTime:Total Creation Time::2"},
								] 
		}
  }
}
