{
  "api":{
      "server": "http://monitis.com",
      "version": "2"
  },
  "user_account":{
      "apiKey": "T5BAQQ46JPTGR6EBLFE28OSSQ",
      "secretKey": "248VUB2FA3DST8J31A9U6D9OHT"
  },  
  "monitor":{
  		"app_command": "JMXServer.jar",
  		"host": "127.0.0.1",
  		"port": 0,
  		"username": null,
  		"password": null,
		"name": "TestServer_127.0.0.1:0",
		"tag": "jmx",
		"type": "Java",
		"testDuration": "0",
		"processingTime": "1",
		"params_separator": ":",
		"result_params":[
			{ "jmxObject": "com.monitis.monitor:type=Monitor","attribute": "Name","format":"mon:mon::3"},
			
			{ "jmxObject": "java.lang:type=Threading", "attribute": "TotalStartedThreadCount", "format":"started_thread:Sthread::2"},
			{ "jmxObject": "java.lang:type=Threading", "attribute": "DaemonThreadCount", "format":"daemon_thread:Dthread::2"},
			{ "jmxObject": "java.lang:type=Threading", "attribute": "ThreadCount","format":"thread:thread::2"},
			{ "jmxObject": "java.lang:type=Threading", "attribute": "PeakThreadCount","format":"peak_thread:peak_thread::2"},

			{ "jmxObject": "java.lang:type=OperatingSystem","attribute": "FreeSwapSpaceSize","format":"swap_free:swap_free::2"}, 
			{ "jmxObject": "java.lang:type=OperatingSystem","attribute": "FreePhysicalMemorySize", "format":"mem_free:mem_free::2"}, 
			{ "jmxObject": "java.lang:type=OperatingSystem","attribute": "OpenFileDescriptorCount","format":"open_descr:open_descr::2"}, 
			{ "jmxObject": "java.lang:type=OperatingSystem","attribute": "SystemLoadAverage","format":"load_av:load_av::4"}, 

			{ "jmxObject": "java.lang:type=Runtime","attribute": "Uptime", "format":"uptime:uptime::3"},

			{ "jmxObject": "java.lang:type=MemoryPool,name=PS Old Gen","attribute": "CollectionUsage","key": "used", "format":"og_pool_col_us:og_pool_col_us::2"}, 
			{ "jmxObject": "java.lang:type=MemoryPool,name=PS Old Gen","attribute": "PeakUsage","key": "used", "format":"og_pool_peak_us:og_pool_peak_us::2"}, 
			{ "jmxObject": "java.lang:type=MemoryPool,name=PS Old Gen","attribute": "Usage","key": "used", "format":"og_pool_us:og_pool_us::2"}, 
			 
			{ "jmxObject": "java.lang:type=MemoryPool,name=PS Perm Gen","attribute": "CollectionUsage","key": "used", "format":"pg_pool_col_us:pg_pool_col_us::2"}, 
			{ "jmxObject": "java.lang:type=MemoryPool,name=PS Perm Gen","attribute": "PeakUsage","key": "used", "format":"pg_pool_peak_us:pg_pool_peak_us::2"}, 
			{ "jmxObject": "java.lang:type=MemoryPool,name=PS Perm Gen","attribute": "Usage","key": "used", "format":"pg_pool_us:pg_pool_us::2"}, 
			
			{ "jmxObject": "java.lang:type=MemoryPool,name=PS Survivor Space","attribute": "CollectionUsage","key": "used", "format":"ss_pool_col_us:ss_pool_col_us::2"}, 
			{ "jmxObject": "java.lang:type=MemoryPool,name=PS Survivor Space","attribute": "PeakUsage","key": "used", "format":"ss_pool_peak_us:ss_pool_peak_us::2"}, 
			{ "jmxObject": "java.lang:type=MemoryPool,name=PS Survivor Space","attribute": "Usage","key": "used", "format":"ss_pool_us:ss_pool_us::2"}, 
			
			{ "jmxObject": "java.lang:type=MemoryPool,name=PS Eden Space","attribute": "CollectionUsage","key": "used", "format":"es_pool_col_us:es_pool_col_us::2"}, 
			{ "jmxObject": "java.lang:type=MemoryPool,name=PS Eden Space","attribute": "PeakUsage","key": "used", "format":"es_pool_peak_us:es_pool_peak_us::2"}, 
			{ "jmxObject": "java.lang:type=MemoryPool,name=PS Eden Space","attribute": "Usage","key": "used", "format":"es_pool_us:es_pool_us::2"}, 
			
			{ "jmxObject": "java.lang:type=MemoryPool,name=Code Cache","attribute": "PeakUsage","key": "used", "format":"cc_pool_peak_us:cc_pool_peak_us::2"}, 
			{ "jmxObject": "java.lang:type=MemoryPool,name=Code Cache","attribute": "Usage","key": "used", "format":"cc_pool_us:cc_pool_us::2"}, 
			
			{ "jmxObject": "java.lang:type=Memory","attribute": "HeapMemoryUsage","key": "used", "format":"heap_mem_us:heap_mem_us::2"}, 
			{ "jmxObject": "java.lang:type=Memory","attribute": "NonHeapMemoryUsage","key": "used", "format":"nheap_mem_us:nheap_mem_us::2"}, 
		],
		"additional_result_params":[
			{"format":"details:Details::3"}
		]
  }
}
