<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

   <appender name="consoleAppender" class="org.apache.log4j.ConsoleAppender">
      <param name="Threshold" value="INFO" />   
      <layout class="org.apache.log4j.SimpleLayout">
      </layout>
   </appender>

	<appender name="monitisAppender" class="org.apache.log4j.net.SocketAppender">
		<param name="Port" value="4560" />
		<param name="RemoteHost" value="localhost" />
		<param name="ReconnectionDelay" value="10000" />
		<param name="Threshold" value="ALL" />
		<filter class="org.monitis.logmonitor.logger.MonitisFilter">
			<param name="filterPattern" value="(Error|Fatal|Warn*|Attention)" />
			<param name="minAllowedLevel" value="WARN" />
		</filter>
	</appender>

	<root>
		<priority value="DEBUG" />
		<appender-ref ref="consoleAppender" />
		<appender-ref ref="monitisAppender" />
	</root>

</log4j:configuration>