{
  "api":{
      "server": "http://monitis.com",
      "version": "2"
  },
  "user_account":{
      "apiKey": "T5BAQQ46JPTGR6EBLFE28OSSQ",
      "secretKey": "248VUB2FA3DST8J31A9U6D9OHT"
  },  
  "debug": {
  		"file": "./mon.csv",
  		"turn_on": no
  },
  "monitor":{
  		"app_command": "Bootstrap",
  		"host": "127.0.0.1",
		"port": 8080,
  		"jmxport": 0,
  		"username": null,
  		"password": null,
		"name": "TomcatServer_127.0.0.1:8080",
		"tag": "jmx",
		"type": "Java",
		"testDuration": "0",
		"processingTime": "1",
		"params_separator": ":",
		"result_params":[
		    {"attribute":"bytesSent","jmxObject":"Catalina:type=GlobalRequestProcessor,name=http-XXXX","format":"bytesSent:bytesSent:dif:2", "calculate":1},
		    {"attribute":"bytesReceived","jmxObject":"Catalina:type=GlobalRequestProcessor,name=http-XXXX","format":"bytesReceived:bytesReceived:dif:2", "calculate":1},
		    {"attribute":"processingTime","jmxObject":"Catalina:type=GlobalRequestProcessor,name=http-XXXX","format":"processingTime:processingTime:dif:2", "calculate":1},
		    {"attribute":"errorCount","jmxObject":"Catalina:type=GlobalRequestProcessor,name=http-XXXX","format":"errorCount:errorCount:dif:2", "calculate":1},
		    {"attribute":"maxTime","jmxObject":"Catalina:type=GlobalRequestProcessor,name=http-XXXX","format":"maxTime:maxTime::2", "calculate":0},
		    {"attribute":"requestCount","jmxObject":"Catalina:type=GlobalRequestProcessor,name=http-XXXX","format":"requestCount:requestCount:dif:2", "calculate":1},
		    {"attribute":"requestCount","jmxObject":"Catalina:type=GlobalRequestProcessor,name=http-XXXX","format":"requestCountps:requestCount:ps:2", "calculate":2},
		    {"attribute":"maxThreads","jmxObject":"Catalina:type=ThreadPool,name=http-XXXX","format":"maxThreads:maxThreads::2", "calculate":0},
		    {"attribute":"currentThreadsBusy","jmxObject":"Catalina:type=ThreadPool,name=http-XXXX","format":"currentThreadsBusy:currentThreadsBusy::2", "calculate":0},
		    {"attribute":"currentThreadCount","jmxObject":"Catalina:type=ThreadPool,name=http-XXXX","format":"currentThreadCount:currentThreadCount::2", "calculate":0}
		],
		"additional_result_params":[
			{"format":"details:Details::3"}
		]
  }
}
